/* CSS RESET */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS VARIABLES */

:root{
    --navbar-height: 59px;
}


/*  NavigationBar */

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0%;
}

#navbar::before{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
}

/* NavigationBar: Logo and image */
#logo{
    margin: 8px 10px;

}

#logo img{
        margin: 5px 6px;
        height: 50px;
        width: 75px;
}


/* Navigation Bar: List styling */
#navbar ul{
    display:flex ;
}

#navbar ul li{   
    list-style: none;
    font-size: 1.1rem;
}
#navbar ul li a{
    display: block;
    padding: 10px 12px;
    border-radius: 20px;
    color: bisque; 
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
}
#navbar ul li a:hover{
    color: rgb(31, 27, 27);
    background-color:rgba(105, 225, 174, 0.36);
    font-family: 'Architects Daughter', cursive;
}


/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 6px 150px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url(../img/bg6.jpg) no-repeat center center/cover;
    height: 555px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: rgba(97, 71, 71, 0.84);
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    
}

#home p{
    color: #123933;;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}

/* Utility-class */
.h-primary{
        font-size: 2.2rem;
        padding: 45px;
}
.h-secondary{
    font-size: 1.6rem;
    padding: 10px;
}

.center{
    text-align: center;
}

/* Button */
.btn{
    padding: 6px 24px;
    border: 1px solid red;
    background-color:#b6969678;
    border-radius: 20px;
    margin: 15px;
    font-size: 1.1rem;
    cursor: pointer;
}


/* Service-section */
#service-container{
    overflow-x: scroll;
}

#services{
    margin: 34px;
    display: flex;
}
#services .box{
        border: 2px solid brown;
        padding: 10px;
        margin: 5px 19px;
        border-radius: 40px;
        background-color: #aaa7a357;

}

#services .box img{
    height: 150px;
    margin: auto;
    display: block;

}





/* Client -section */
#client-section{
    height: 344px;
    /* position: relative; */
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/bg2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.4; */
}

.cklor{
    color: crimson;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}

.client-item{
    padding: 34px;
}





/* Contact-section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.4;     */
    background: url('../img/contact1.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 37px;

}

#contact-box input,
#contact-box textarea{

        width: 100%;
        padding: 0.5rem;
        border-radius: 15px;
        font-size: 1.1rem;

}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.5rem;
    font-family: 'Architects Daughter', cursive;

}


/* Footer styling */
footer{
    background: black;
    color: blanchedalmond;
    padding: 10px 20px;
    font-size: 1.5rem;
}
